@charset "UTF-8";
@import url(reset.css);
@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
              @font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



body {width: 100%;height: 100vh; background: linear-gradient(118deg, #D6D7DA 15.22%, #727274 295.69%);overflow: hidden;}
body.about {background: none;background: url(../images/about/about_Bg.jpg);}
body.banner {background: #020101;overflow: visible;}
body.webdesign {background: none;}




img{max-width: 100%;}
header {display: flex;justify-content: space-between; margin:4.32vw 5.2vw 0 5.2vw ;align-items: center;gap: 20px;}
nav ul{display: flex;gap: 20px;}
nav ul li{}
nav ul li a{padding: 12px 2.08vw;background: #545454;border-radius: 36px;font-size: 20px;display: flex;color: #f5f5f5;
    font-family: Pretendard;
    font-size: clamp(16px,1.84vw,20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;}
nav ul li a:hover {background: #1a2a40;}
main{display: flex;justify-content: center;margin-top: 15vh;color: #f8f8f8;}
main .typo{display: flex;flex-direction: column;align-items: center;position: relative;}
main figcaption {padding-top: 15px;padding-bottom: 58px;color: #515960;text-align: center;}
main .typo .view_btn {padding: 23px 137px;background-image:linear-gradient(240deg,rgba(17,17,17,.5) 0%,rgba(127,136,145,1) 50%);background-size: 100% 200%;background-position: 0% 0%; color: #f8f8f8;border-radius: 200px; display: inline-block;transition: 1s;}
main .typo > figure:first-child {width: 90vh;} 

main .mu {position: absolute;right: -40%;top: -20%;width: 50vh;}

main .typo .view_btn:hover{background-position: 0% 100%;}



/* about */
header h1 > a {display: flex;}
header h1.bg_w {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(97%) contrast(103%);
}
header figure.hong {filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(97%) contrast(103%);}

main.about_main {display: block;height: 100%;padding: 0 10.4vw;}
main.about_main > ul {width: 100%;height: 100%;display: flex;}
main.about_main > ul > li{width: 30%;flex-grow: 1;display: flex;flex-direction: column;align-items: flex-start;padding-left: 36px;}
main.about_main > ul li h2 {padding-bottom: 36px;}
main.about_main > ul li p {padding: 7px 0;display: flex;align-items: flex-end;font-size: 20px;}
main.about_main > ul li p > img {padding-right: 16px;width: 22px;}
main.about_main > ul li span {font-size: 15px;color: #949494;}
main.about_main > ul li span.name {padding-left: 8px;}
main.about_main > ul li h3 {}

main.about_main > ul li:nth-child(2) > ul {width: 100%;display: flex;padding-top: 72px;}

/* banner */
main.banner {display: flex;flex-direction: column;justify-content: center;align-items: center;}
main.banner h2 {margin-bottom: 120px;color: #FAFAFA;
    font-family: "Noto Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;}

.banners {display: flex;flex-direction: column;gap: 200px;padding: 0 5.2vw;}
.banners .row_banners{display: flex;gap: 20px;flex-wrap: wrap;}
.banners .row_banners figure {width: 48%;border-radius: 21px;overflow: hidden;}
.banners .row_banners figure > img {width: 100%;object-fit: cover;}

.banners .col_banners {display: flex;flex-wrap: wrap; gap: 20px;justify-content: center;}
.banners .col_banners > figure {border-radius: 12px;overflow: hidden;}
.banners .col_banners img {width: 100%;}

/* webdesign */
header.web {position: relative;z-index: 2;}

.swiper {
    position: absolute !important;top: 0;
    width: 100%;
    height: 100%;
    
  }
  .swiper-slide .content{
    margin: 10% 10.4vw 0px;
    font-size: 18px;
    display: flex;
    gap: 4.16vw;
  }
  .swiper-slide .content .info{
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }

  .swiper-slide.mail_bg {background: url(../images/section/bg1.jpg) no-repeat center center;width: 100%;height: 100vh;overflow: hidden;}
  .swiper-slide.bang_bg {background: url(../images/section/bg2.jpg) no-repeat center center;width: 100%;height: 100vh;overflow: hidden;}
  .swiper-slide.ncu_bg {background: url(../images/section/bg3.png) no-repeat center center;width: 100%;height: 100vh;overflow: hidden;}
  .swiper-slide.hil_bg {background: url(../images/section/bg4.png) no-repeat center center;width: 100%;height: 100vh;overflow: hidden;}
  .swiper-slide.kit_bg {background: url(../images/section/bg5.png) no-repeat center center;width: 100%;height: 100vh;overflow: hidden;}

  .swiper-button-next:after,.swiper-button-prev:after{font-size: 32px !important;font-weight: 600;color: #fff;}
  .swiper-button-next{right: 3% !important;}
  .swiper-button-prev {left: 3% !important;}
  
  .swiper-slide .content .info {color: #fff;}
  .swiper-slide .content .info h2.mail {padding-bottom: 24px;
    color: #2274CE;
    font-family: "Noto Sans KR";
    font-size: clamp(32px,2.4vw,48px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color: #2274ce;
    line-height: 1.2;
}
  .swiper-slide .content .info .sub {padding-bottom: 12px;color: #FFF;
    font-family: "Noto Sans KR";
    font-size: clamp(20px,1.5vw,24px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;}
  .swiper-slide .content .info .dip{padding-bottom: 24px;color: #E5E5E5;
    font-family: "Noto Sans KR";
    font-size: clamp(16px,1vw,20px);
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 25.2px */}
  .swiper-slide .content .info .tool{display: flex;width: fit-content; padding-bottom: 24px;color: #E5E5E5;
    font-family: "Noto Sans KR";
    font-size: clamp(16px,1vw,20px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */}
  .swiper-slide .content .info .tool figure{padding-left: 12px;}
  .swiper-slide .content .info .tool figure > img {width: 24px;}
  .swiper-slide .content .info .tool figure > img:last-child{padding-left: 4px;}
  .swiper-slide .content .info .gi{
    color: #EEE;
    font-family: "Noto Sans KR";
    font-size: clamp(16px,1vw,20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
  .swiper-slide .content .info .gan{padding-bottom: 18px;color: #EEE;
    font-family: "Noto Sans KR";
    font-size: clamp(16px,1vw,20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
  .swiper-slide .content .info .gi > span,
  .swiper-slide .content .info .gan > span{color: #ff0004;padding-left: 12px;}
  .swiper-slide .content .info a {padding: 20px 24px;border-radius: 12px;
    background: linear-gradient(223deg, #0371E6 -0.09%, #001775 249.46%); width: fit-content;display: flex;align-items: center;color: #f8f8f8;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;}
    .swiper-slide .content .info > a > img {padding-left: 4.16vw;}





  .swiper-slide .content .view {text-align: center;position: relative;}
  .swiper-slide .content .pc_view{overflow: hidden; max-width: 768px; height: 22vw; border-radius: 20px; filter: drop-shadow(8px 8px 30px rgba(0, 0, 0, 0.2))};


  .swiper-slide .content .pc_view img {object-fit: cover;}
  .swiper-slide .content .view figcaption {text-align: center;margin-bottom: 2.18vw;color: #2274CE;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}
    .swiper-slide .content .view figcaption span {color: #021B37;
        font-family: "Noto Sans KR";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;}


  .swiper-slide .content .view .mobile_view{width: 8.5vw; height: 16.9vw;overflow: hidden;border: 3px solid #000; border-radius: 20px; position: absolute; right: 20px;bottom: -1%;box-sizing: border-box;}

  .swiper-slide .content .view .pen {position: absolute;right: -2%;bottom: 0;width: 5vw;}


  .swiper-slide .content .info h2.bang {color: #AC633F;}
  .swiper-slide .content .info a.bang_a {background: linear-gradient(223deg, #B47B52 -0.09%, #391805 249.46%);}
  .swiper-slide .content .view figcaption.bang_cap {color: #341E13;}

  
  .swiper-slide .content .info h2.ncu {color: #1CAB9E;}
  .swiper-slide .content .info a.ncu_a {background: linear-gradient(223deg, #1CAB9E -0.09%, #0A3C37 249.46%);}
  .swiper-slide .content .view figcaption.n_cap {color: #083430;}

  .swiper-slide .content .info h2.hil {color: #738A3F;}
  .swiper-slide .content .info a.hil_a {background: linear-gradient(223deg, #738A3F -0.09%, #4E611E 249.46%);}
  .swiper-slide .content .view figcaption.hil_cap {color: #222A13;}

  .swiper-slide .content .info h2.kit {color: #BE252A;}
  .swiper-slide .content .info a.kit_a {background: linear-gradient(223deg, #BE252A -0.09%, #3D0B0C 249.46%);}
  .swiper-slide .content .view figcaption.kit_cap {color:  #FFEAED;}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction {
  left: 50% !important;
  width: fit-content !important;
}

@media screen and (max-width:1200px) {
  .swiper-slide .content .view figcaption {margin-bottom: 15%;}
}


@media screen and (max-width:1024px) {
  /* index */
  header {flex-wrap: wrap;}
  header nav ul {gap: 12px;}
  nav ul li a {padding: 12px 3.08vw;}
  main figcaption {padding-bottom: 36px;}
  main .typo > figure:first-child {width: 55vh;}
  main .mu {right: -30%;width: 30vh;}
  main .typo .view_btn {padding: 16px 9.5vw;}
  header figure {width: 20%;display: flex;min-width: 137px;}
  
  /* about */
  body.about {overflow: auto;}
  main.about_main > ul {flex-wrap: wrap;}
  main.about_main > ul > li {padding: 0 36px;}

  /* webdesign */
  .swiper-slide .content {margin: 15% 10.4vw 0px;}
  
  .swiper-slide.mail_bg {width: 100%;height: 70vh;}
  .swiper-slide.bang_bg {width: 100%;height: 70vh;}
  .swiper-slide.ncu_bg {width: 100%;height: 70vh;}
  .swiper-slide.hil_bg {width: 100%;height: 70vh;}
  .swiper-slide.kit_bg {width: 100%;height: 70vh;}
  .swiper-slide .content .info h2.mail {padding-bottom: 16px;}
  .swiper-slide .content .info .dip {padding-bottom: 8px;}
  .swiper-slide .content .info .tool {padding-bottom: 8px;}
  .swiper-slide .content .info .gan {padding-bottom: 13px;}
  br.onlyPc {display: none;}

  .swiper-slide .content .view .mobile_view {width: 10.5vw; height: 19vw;bottom: 0%;}
  .swiper-slide .content .view .pen {width: 7vw; right: -2%;bottom: 0%;}
  
}
@media screen and (max-height:800px) {
  .swiper-slide.mail_bg {width: 100%;height: 100vh;}
  .swiper-slide.bang_bg {width: 100%;height: 100vh;}
  .swiper-slide.ncu_bg {width: 100%;height: 100vh;}
  .swiper-slide.hil_bg {width: 100%;height: 100vh;}
  .swiper-slide.kit_bg {width: 100%;height: 100vh;}
}

@media screen and (max-width:800px) {
  
  header figure {order: 2;}
  header nav {order: 3;}
  
  /* about */
  main.about_main > ul li p {flex-direction: column;align-items: flex-start;font-size: clamp(16px,2.8vw,20px);}
  main.about_main > ul li span.name {padding-left: 0;}
  main.about_main > ul li span {font-size: clamp(13px,2.0vw,15px);}

  
  /* banner */
  .banners .row_banners figure {width: 100%;}

  /* webdesign */
  .swiper-slide .content .info .sub {display: none;}
  .swiper-button-prev {display: none !important;}
  .swiper-button-next {display: none !important;}
  .swiper-slide .content .info a {white-space: nowrap;}  
  .swiper-slide .content .info h2.mail {font-size: 28px;}
  .swiper-slide .content .info a {padding: 16px 20px;font-size: 16px;}

  .swiper-slide.mail_bg {height: 100vh;}
  .swiper-slide.bang_bg {height: 100vh;}
  .swiper-slide.ncu_bg {height: 100vh;}
  .swiper-slide.hil_bg {height: 100vh;}
  .swiper-slide.kit_bg {height: 100vh;}

  .swiper-slide .content .view {position: absolute;left: 0;top: 30%;}
  .swiper-slide .content .view::before{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;border-radius: 20px;background: rgba(0, 0, 0, 0.7);}
  .swiper-slide .content .view figcaption {display: none;}
  .swiper-slide .content .info {z-index: 2;}
  .swiper-slide .content .pc_view {height: 100vh;max-width: 100%;}
  .swiper-slide .content .info > a > img {width: 20px;}
  .swiper-slide .content .info .tool figure > img {width: 20px;}
  .swiper-slide .content .info h2.mail {padding-bottom: 24px;}
  .swiper-slide .content .info .dip {padding-bottom: 16px;}
  .swiper-slide .content .info .tool {font-size: clamp(13px,2vw,16px)}
  .swiper-slide .content .info .gi,
  .swiper-slide .content .info .gan
   {font-size: clamp(13px,2vw,16px);}

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
  {left: 45% !important;}


}

@media screen and (max-width:800px) {
  .swiper-slide .content {margin: 50% 10.4vw 0px;}
}
@media screen and (max-width:800px) and (max-height:700px) {
  .swiper-slide .content {margin: 30% 10.4vw 0px;}
}
@media screen and (max-width:700px) {
  .swiper-slide .content {margin: 40% 10.4vw 0px;}
}
@media screen and (max-width:600px) {
  .swiper-slide .content {margin: 45% 10.4vw 0px;}
}
@media screen and (max-width:528px) {
  .swiper-slide .content {margin: 80% 10.4vw 0px;}
}
@media screen and (max-width:528px) and (max-height:700px) {
  .swiper-slide .content {margin: 50% 10.4vw 0px;}
}

@media screen and (max-width:528px) {
  header nav ul {padding: 12px 0;}
  nav ul li a {padding: 12px 5.08vw;font-size: 14px;}
  main {margin-top: clamp(30%,20vh,50%)}
  main .mu {right: -15%;top: -5%; width: 15vh;}
  main .typo > figure:first-child {width: 45vh;}
  main figcaption {padding-bottom: 26px;padding-top: 8px;}
  main .typo .view_btn {padding: 13px 9.5vw;}
  
  /* about */
  main.about_main > ul > li {width: 100%;padding: 0;padding-bottom: 32px;}
  main.about_main > ul li h2 {padding-bottom: 13px;}

  main.about_main > ul li:nth-child(2) > ul {padding-top: 32px;}

  main.about_main > ul li:nth-child(3) > p {flex-direction: row;}

/* webdesign */
}

@media screen and (max-width:528px) {
  main .typo > figure:first-child {
    width: 35vh;
  }
}
@media screen and (max-width:400px){
  .swiper-slide .content {margin: 100% 10.4vw 0px;}
}
@media screen and (max-width:400px) and (max-height:700px){
  .swiper-slide .content {margin: 70% 10.4vw 0px;}
  .swiper-slide .content .view {top: 35%;}
}

